;; This file is to catch the configs set by Settings GUI only.
;; All configs are moved to the global config.edn.
{:meta/version 1

 ;; Some configs for graph export are not effective at global scope, hence must be cloned here:
 :publishing/all-pages-public? true
 :default-home {:page "Workspace"}
 :hidden ["assets" "/assets" "../assets"]
 :ui/auto-expand-block-refs? false
 :ui/show-brackets? false
 :favorites ["682c29d5-037c-4eea-aee3-35bd1779b4f1"]


}
