/* Notes:
	- This file is hard-linked to share between graphs.
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css");

/* Root settings */
:root {
  --ls-main-content-max-width: 100%;

  scrollbar-color: auto; /* use ::-webkit-scrollbar,html.custom-scrollbar */
  
  /* Task markers */
  --ct-marker-border-radius: 4px;
  --ct-marker-size: 16px;
  --ct-marker-text-color: var(--rx-slate-12);
  --ct-task-done-text-decoration: none;
  --ct-checkbox-color: var(--rx-blue-09);
  --ct-checkbox-waiting-color: var(--rx-blue-07);
  --ct-checkbox-done-color: var(--rx-green-09);
  --oz-code-font-family: "Hack", monospace;
}

/* Main (middle) pane */
body {
  background-color: var(--ls-primary-background-color,hsl(var(--background)));
  color: var(--ls-primary-text-color,hsl(var(--foreground)));
}

/* Control header */
.cp__header {
  background-color: var(--ls-secondary-background-color);
}

/* Left sidebar */
.dark .left-sidebar-inner {
  --left-sidebar-bg-color: var(--ls-secondary-background-color,hsl(var(--secondary,var(--rx-gray-03-hsl))));
}

/* Scroll bar */
.visible-scrollbar ::-webkit-scrollbar-thumb,html.custom-scrollbar ::-webkit-scrollbar-thumb {
    background-color: var(--ls-scrollbar-foreground-color,var(--rx-gray-05));
}
.visible-scrollbar ::-webkit-scrollbar-thumb:active,html.custom-scrollbar ::-webkit-scrollbar-thumb:active {
    background-color: var(--ls-scrollbar-thumb-hover-color,var(--rx-gray-06));
}
.visible-scrollbar ::-webkit-scrollbar,html.custom-scrollbar ::-webkit-scrollbar {
    background-color: var(--ls-scrollbar-background-color,var(--rx-gray-02));
}


/* Right sidebar */

.cp__right-sidebar-inner {
  background-color: var(--ls-secondary-background-color);
}

html[data-theme=dark] .cp__right-sidebar .sidebar-item,
html[data-theme=light] .cp__right-sidebar .sidebar-item {
  background-color: var(--ls-primary-background-color);
}

.sidebar-item-header {
  background-color: var(--ls-tertiary-background-color) !important;
}

/* Inline code */
:not(pre)>code {
    background-color: var(--ls-page-inline-code-bg-color,var(--rx-gray-05));
    color: var(--ls-page-inline-code-color,var(--rx-gray-11));
}

/* Properties */
.block-properties,.page-properties {
    background-color: var(--ls-block-properties-background-color,var(--rx-gray-03));
}

.block-children-left-border:hover {
    background-color: var(--ls-primary-text-color,var(--rx-gray-10));
    opacity: .7
}
.block-children {
    border-left-color: var(--ls-guideline-color,var(--rx-gray-04-alpha))!important;
}

/*** Code mirror (code block) ***/

.cm-s-lsradix.cm-s-light,
.dark .cm-s-lsradix.cm-s-dark,
.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
.cm-s-lsradix.cm-s-dark .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters,
.cm-s-lsradix.cm-s-light .CodeMirror-gutters,
.cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background-color: hsl(var(--background)); 
}
.cm-s-lsradix.cm-s-dark .CodeMirror-linenumber,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  color: hsl(var(--foreground));
}

.cm-s-lsradix .cm-header {
    color: var(--lx-gray-10,#586e75)
}

/* Selection */



/*** Markers & Checkboxes [from Ozean theme] ***/

/* Checkboxes */

:is(.todo, .later, .waiting, .wait, .in-progress, .doing, .now, .done) .form-checkbox,
:is(.todo, .later, .waiting, .wait, .in-progress, .doing, .now, .done) .form-checkbox:focus {
  transform: translateY(1px);
  border-radius: 30%;
  border: 2px solid var(--ct-checkbox-color) !important;
  background-color: transparent !important;
  height: var(--ct-marker-size);
  width: var(--ct-marker-size);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:is(.doing, .now) .form-checkbox,
:is(.doing, .now) .form-checkbox:focus {
  background-color: var(--ct-checkbox-color) !important;
  border: 2px solid var(--ct-checkbox-color) !important;
}

:is(.waiting, .wait, .in-progress) .form-checkbox,
:is(.waiting, .wait, .in-progress) .form-checkbox:focus {
  background-color: var(--ct-checkbox-waiting-color) !important;
}

.canceled,.cancelled,.done {
    opacity: 1
}
.done {
  text-decoration: var(--ct-task-done-text-decoration);
}

.done .form-checkbox:checked,
.done .form-checkbox:checked:focus {
  border-radius: 50%;
  background-color: var(--ct-checkbox-done-color) !important;
  border: 2px solid var(--ct-checkbox-done-color) !important;
  margin-right: 5px !important;
}

/* Markers */

.block-marker { /* all status, including WAIT... */
  border-radius: var(--ct-marker-border-radius);
  font-size: 12px;
  height: calc(var(--ct-marker-size) + 4px);
  line-height: 1.5;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--oz-code-font-family);
  color: var(--ct-marker-text-color);
  background-color: var(--ct-checkbox-waiting-color) !important;
}

a.marker-switch { /* Only action status: TODO <-> DOING */
  transform: translateY(-1px);
  background-color: var(--ct-checkbox-color) !important;
}

a.marker-switch:hover {
  color: var(--ct-marker-text-color);
}

/*** Block control (arrow) ***/

/* Don't hide arrow of collapsed block
.block-control .control-hide,
.block-control:hover .control-hide {
  display: block;
}
.block-control .control-hide .collapsed,
.block-control:hover .control-hide .collapsed {
  display: block;
}

/* Only hide arrow of non-collapsed block
.block-control .control-hide .not-collapsed,
.block-control:hover .control-hide .not-collapsed {
  display: none;
} 
*/

/* Bullet */

.bullet-container:not(.typed-list).bullet-closed {
    background-color: var(--ls-block-bullet-closed-border-color,var(--rx-gray-04-alpha));
}
.bullet-container:not(.typed-list) .bullet {
    background-color: var(--ls-block-bullet-color,var(--rx-gray-08));
    transition: transform .2s
}

.bullet-link-wrap:hover>.bullet-container:not(.typed-list) {
    background-color: var(--ls-block-bullet-border-color,var(--rx-gray-04-alpha));
}
.bullet-link-wrap:hover>.bullet-container:not(.typed-list) .bullet {
    background-color: var(--ls-block-bullet-color,var(--rx-gray-08))!important;
    transform: scale(1.2)
}


/* Links */

.page-ref {
    color: var(--ls-link-text-color,hsl(var(--primary)/.8));
}
.page-ref:hover {
    color: var(--ls-link-text-color,hsl(var(--primary)));
}

a { /* external link */
    color: var(--ls-link-text-color,hsl(var(--primary)/.8));
}
a:hover {
    color: var(--ls-link-text-hover-color,hsl(var(--primary)));
}


/* Embed block */

.embed-block {
    background-color: transparent !important;
}
.embed-block .px-3 {
    padding: 0;
    margin-left: -14px;
}



/* Plugin manager & Marketplace */
.cp__plugins-item-card {
  background-color: var(--ls-secondary-background-color,hsl(var(--muted)));
  color: var(--ls-secondary-text-color);
}
.cp__plugins-item-card p {
  color: var(--ls-secondary-text-color);
}


/* Mermaid diagram */
div[data-ref="logseq-mermaid-plugin"] {
  background-color: rgba(255, 255, 255, 1) !important;
}
div.mermaid { /* logseq-fenced-code-plus */
  background-color: rgba(255, 255, 255, 1) !important;
}

div.tikzjax-renderer {
  background-color: rgba(255, 255, 255, 1) !important;
}

/* Color variables */

html[data-theme=dark][data-color=logseq] .dark-theme,
html[data-color=logseq] .light-theme,
html[data-color=logseq] body,
html[data-theme=dark][data-color=blue] .dark-theme,
html[data-color=blue] .light-theme,
html[data-color=blue] body {
  
  /* Backgrounds */
  
  --ls-primary-background-color: var(--rx-slate-04);
  --ls-secondary-background-color: var(--rx-slate-06);
  --ls-tertiary-background-color: var(--rx-slate-07);
  --ls-quaternary-background-color: var(--rx-slate-08);

  --color-level-1: var(--ls-primary-background-color);
  --color-level-2: var(--ls-secondary-background-color);
  --color-level-3: var(--ls-tertiary-background-color);

  --ls-selection-background-color: var(--rx-blue-05-alpha);
  --ls-block-highlight-color: var(--rx-slate-05-alpha);
  --ls-page-inline-code-bg-color: var(--ls-secondary-background-color);
  --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
  --ls-page-properties-background-color: var(--ls-page-blockquote-bg-color);
  --ls-block-properties-background-color: var(--ls-page-blockquote-bg-color);
  --ls-table-tr-even-background-color: var(--ls-secondary-background-color);
  --ls-scrollbar-background-color: transparent; /* var(--rx-slate-03);*/
    
  /* Borders */
  
  --ls-border-color: var(--rx-slate-07);
  --ls-secondary-border-color: var(--rx-blue-05);
  --ls-guideline-color: var(--rx-slate-06);

  /* Foregrounds */
  
  --ls-primary-text-color: var(--rx-slate-11);
  --ls-secondary-text-color: var(--rx-slate-12);
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-blockquote-color: var(--ls-primary-text-color);

  --ls-link-text-color: var(--rx-blue-09);
  --ls-link-text-hover-color: var(--rx-blue-11);
  --ls-block-ref-link-text-color: var(--rx-blue-08);
  
  --ls-page-checkbox-color: var(--rx-slate-09);
  
  --ls-block-bullet-color: var(--rx-slate-08);
  --ls-block-bullet-border-color: var(--rx-slate-06-alpha);
  --ls-block-bullet-closed-border-color: var(--rx-slate-09);
  
  --ls-scrollbar-foreground-color: var(--lx-gray-05);
  --ls-scrollbar-thumb-hover-color: var(--lx-gray-06);
  
  /* Specials */
  
  --ls-error-text-color: var(--rx-red-01);
  --ls-error-background-color: var(--rx-red-09);
  --ls-warning-text-color: var(--rx-orange-01);
  --ls-warning-background-color: var(--rx-orange-09);
  --ls-success-text-color: var(--rx-green-01);
  --ls-success-background-color: var(--rx-green-09);

  
  /* copy `blue` accent to override `logseq` default accent */
    --accent: 206 100% 50.0%;
    --primary: 206 100% 50.0%;
    --ring: 206 81.9% 65.3%;
    --accent-foreground: 190 43% 97%;
    --primary-foreground: 190 43% 97%;
    --lx-accent-01: var(--rx-blue-01);
    --lx-accent-02: var(--rx-blue-02);
    --lx-accent-03: var(--rx-blue-03);
    --lx-accent-04: var(--rx-blue-04);
    --lx-accent-05: var(--rx-blue-05);
    --lx-accent-06: var(--rx-blue-06);
    --lx-accent-07: var(--rx-blue-07);
    --lx-accent-08: var(--rx-blue-08);
    --lx-accent-09: var(--rx-blue-09);
    --lx-accent-10: var(--rx-blue-10);
    --lx-accent-11: var(--rx-blue-11);
    --lx-accent-12: var(--rx-blue-12);
    --lx-accent-01-alpha: var(--rx-blue-01-alpha);
    --lx-accent-02-alpha: var(--rx-blue-02-alpha);
    --lx-accent-03-alpha: var(--rx-blue-03-alpha);
    --lx-accent-04-alpha: var(--rx-blue-04-alpha);
    --lx-accent-05-alpha: var(--rx-blue-05-alpha);
    --lx-accent-06-alpha: var(--rx-blue-06-alpha);
    --lx-accent-07-alpha: var(--rx-blue-07-alpha);
    --lx-accent-08-alpha: var(--rx-blue-08-alpha);
    --lx-accent-09-alpha: var(--rx-blue-09-alpha);
    --lx-accent-10-alpha: var(--rx-blue-10-alpha);
    --lx-accent-11-alpha: var(--rx-blue-11-alpha);
    --lx-accent-12-alpha: var(--rx-blue-12-alpha);
    --lx-gray-01: var(--rx-slate-01);
    --lx-gray-02: var(--rx-slate-02);
    --lx-gray-03: var(--rx-slate-03);
    --lx-gray-04: var(--rx-slate-04);
    --lx-gray-05: var(--rx-slate-05);
    --lx-gray-06: var(--rx-blue-06); /* selection in code block */
    --lx-gray-07: var(--rx-slate-07);
    --lx-gray-08: var(--rx-slate-08);
    --lx-gray-09: var(--rx-slate-09);
    --lx-gray-10: var(--rx-slate-10);
    --lx-gray-11: var(--rx-slate-11);
    --lx-gray-12: var(--rx-slate-12);
    --lx-gray-01-alpha: var(--rx-slate-01-alpha);
    --lx-gray-02-alpha: var(--rx-slate-02-alpha);
    --lx-gray-03-alpha: var(--rx-slate-03-alpha);
    --lx-gray-04-alpha: var(--rx-slate-04-alpha);
    --lx-gray-05-alpha: var(--rx-slate-05-alpha);
    --lx-gray-06-alpha: var(--rx-slate-06-alpha);
    --lx-gray-07-alpha: var(--rx-slate-07-alpha);
    --lx-gray-08-alpha: var(--rx-slate-08-alpha);
    --lx-gray-09-alpha: var(--rx-slate-09-alpha);
    --lx-gray-10-alpha: var(--rx-slate-10-alpha);
    --lx-gray-11-alpha: var(--rx-slate-11-alpha);
    --lx-gray-12-alpha: var(--rx-slate-12-alpha);  
}

html[data-color=logseq] .light-theme,
html[data-color=blue] .light-theme {

  --ls-primary-text-color: var(--rx-slate-12);
  --ls-secondary-text-color: var(--rx-slate-12);
  
}
html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color)
}

html[data-color=logseq][data-theme=dark],
html[data-theme=dark] {
  
  /* for code block */
  --secondary: 0 0% 15%;
  --secondary-foreground: 0 0% 75%;
  --background: 0 0% 12%;
  --foreground: 0 0% 50%;
  
  --border: 0 0% 26%;
  --muted: 0 0% 15%;
  --popover: 0 0% 10%;
  --popover-foreground: 0 0 100%;
  /*
  --accent: var(--rx-gray-12-hsl);
  --accent-foreground: var(--rx-gray-02-hsl);
  --primary-foreground: 0 0% 22%; 
  --card: 0 0% 11%;
  --card-foreground: 0 0% 95%;
  --input: 0 0% 25%;
  */
}
